* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d5a80;
  .containerHeader {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      p {
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 24.51px;
        text-align: left;
      }
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          list-style: none;
          margin-left: 25px;

          a {
            text-decoration: none;
            color: #ffffff;
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 21.79px;
            text-align: left;
          }
        }
      }
    }
    .button {
      width: Fixed (187px);
      height: Fixed (48px);
      top: 34px;
      left: 1098px;
      padding: 8px 12px 8px 12px;
      gap: 8px;
      border-radius: 5px 0px 0px 0px;
      opacity: 0px;
      border: 1px solid transparent;
      button {
        height: 35px;
        width: 90px;
        background-color: #ee6c4d;
      }
    }
  }
}
#sectionOne {
  background-color: #3d5a80;
  justify-content: center;
  display: flex;
  align-items: center;

  .writingArea {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    line-height: 35px;
    padding: 30px;
    margin: 30px;
    height: 60%;
    width: 40%;
    h2 {
      font-family: Open Sans;
      font-size: 40px;
      font-weight: 700;
      line-height: 54.47px;
      text-align: left;
    }
    p {
      font-family: Open Sans;
      font-size: 18px;
      font-weight: 400;
      line-height: 23.4px;
      text-align: left;
    }
    button {
      width: Fixed (187px) px;
      height: Fixed (48px) px;
      top: 438px;
      left: 160px;
      padding: 12px 18px 12px 18px;
      gap: 10px;
      border-radius: 5px 0px 0px 0px;
      opacity: 0px;
      background-color: #ee6c4d;
      margin-top: 15px;
    }
  }

  .image {
    display: flex;

    justify-content: flex-end;
    position: relative;

    .photo1 {
      z-index: 1;
    }
    .photo2 {
      position: absolute;
      margin-right: 42px;
    }
  }
}
#sectionTwo {
  background-color: #293241;
  display: flex;
  align-items: center;
  justify-content: center;
  //   flex-direction: column;
  width: 100%;

  .containerTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .imgTwo {
      display: flex;
      margin-left: 25px;
      margin-top: 15px;
    }

    .write {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      margin-top: 15px;

      h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .line {
        background-color: #ee6c4d;
        height: 3px;
        width: 50%;
      }
      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
      }
    }
  }
}
#sectionFive {
  background-color: #293241;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;

  .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    h2 {
      color: white;
      width: 382px;
      height: 52px;
      top: 1178px;
      left: 492px;
    }
    .lineTwo {
      background-color: #ee6c4d;
      height: 3px;
      width: 8%;
    }
  }
}
#sectionSix{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #293241;
    flex-wrap: wrap;
flex-direction: column;
    

    .topWrite{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        
    }
.photos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  width: 70%;
 
}
}